<div class="container">
  <div class="row">
    <div class="col-xs-12" style="border: 1px solid red;">
      <p>
        Write a program that determine whether or not an integer input is a leap year.
        Definition of leap year:<br>
        Rule 1: A year is called leap year if it is divisible by 400.<br>

        Example: 1600, 2000 etc. are leap year while 1500, 1700 are not leap year.<br>

        Rule 2: If year is not divisible by 400 as well as 100 but it is divisible by 4 then that year are also leap year.<br>

        Example: 2004, 2008, 1012 are leap year.<br>
      </p>
    </div>
    <p>
      Exoutput: 1600 -> true<br>
       2000 -> true<br>
      1500 -> false<br>
      2004 -> true<br>
      2008 -> true<br>
      2010 -> false
    </p>
    <hr style="border: 1px solid rgb(179, 115, 4);">
    <label>Enter integer</label>
    <input type="number" class="form-control" [(ngModel)] = "userInput">
    <!-- <p>{{userInput}}</p> -->
    <button class="btn btn-primary" 
    [disabled]="userInput <= 0"
    (click)="leapYear()"
    >Is it Leap year?</button><br>
  <div style="padding: 20px; text-align: center;">
    <div style="background-color: lightcyan;">
      <h2 *ngIf="toggle" style="size: 18px;">{{userInput}} --> {{leapYear()}}</h2>
    </div>
  </div>
  </div>
  <div>